
.sombar{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}
.jumbotron{
    background-color: #f8f7f7;
    padding-top: 7rem;
}
#contact{
    background-color: #f8f7f7;
}

section{
    padding-top: 5rem;
}
/* footer{
    padding-top: 3rem;
} */